header {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background: transparent;
    transition: all ease .5s;
}

header.black {
    background-color: #141414;
}

.header--logo {
    height: 25px;
    display: flex;
}

.header--logo img {
    height: 100%;
}

.header--menuList {
    position: relative;
    top: 4px;
    left: 0px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.header--menuList li {
    padding: 0 20px;
    font-size: 12px;
}

.header--nav {
    display: none;
    position: relative;
    top: 4px;
    left: 20px;
    font-size: 13px;
}

.header--nav i {
    padding-left: 5px;
}

.header--user {
    display: flex;
    align-items: center;
    height: 35px;
}

.header--users {
    display: flex;
    align-items: center;
}

.header--user > .fa-bell {
    padding-right: 20px;
}
.conf {
    width: 280px;
    border: 1px solid #fff;
    padding: 5px;
}


.header--input {
    background-color: #000;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: all ease .5s;
}

.header--input  i {
    padding-right: 10px;
}
.header--input > #text {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 14px;
    padding: 5px;
    caret-color: #fff;
    color: #fff;
}

.header--users > i {
    padding-left: 12px;
    cursor: pointer;
}
.header--user img {
    width: 32px;
    border-radius: 3px;
}

@media (max-width: 960px) {
    .header--menuList {
        display: none;
    }

    .header--nav {
        display: block;
    }

    .conf {
        width: 0;
        border: none;
        padding: 0;
    }
}